<h1>Lien de recupération de mot de passe My Explore Bag</h1>

<p>Cliquez sur ce lien ( valable 15 minutes ) pour réinitialiser votre mot de passe : <br>
<a href="{{absolute_url(path('app_reset_password' , {'id': user.id , 'token': user.forgotPasswordToken }))}}">Réinitialiser mon mot de passe</a> </p>