<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <style>

            .h1-myeb{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 33px;
                
                align-items: center;
                text-align: center;
                color: #3F3F3F;
            }
            .small-myeb{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #AEAEAE;
            }
            .btn-myeb{
                width: 208px !important;
                height: 44px !important;
                background: #FABD43 !important;
                border-radius: 17px !important;
            }
           .input-myeb{
                 
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 13px;
                gap: 10px;
                width: 340px;
                height: 47px;
                background: #FFFFFF;
                border: 2px solid #3F3F3F;
                border-radius: 9px;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            
        </style>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
          <!-- Créer un conteneur avec une hauteur fixe -->
            <div class="container vh-100 d-flex justify-content-center align-items-center">
           
                <!-- Créer un div centré avec une bordure -->
                <div class=" p-3 text-center">
                 <svg width="96" height="102" viewBox="0 0 96 102" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.2" d="M47.9976 102C43.9629 102.004 39.9941 100.964 36.4668 98.9783L12.0979 85.1746C8.43026 83.0922 5.3762 80.0571 3.2499 76.3814C1.1236 72.7057 0.00182987 68.5222 0 64.2613V37.7368C0.00182987 33.4759 1.1236 29.2924 3.2499 25.6167C5.3762 21.941 8.43026 18.9059 12.0979 16.8235L36.462 3.01979C39.991 1.03912 43.9587 0 47.9927 0C52.0266 0 55.9944 1.03912 59.5234 3.01979L83.8985 16.8235C87.5668 18.9054 90.6216 21.9403 92.7485 25.616C94.8755 29.2918 95.9978 33.4755 96 37.7368V64.2613C95.9977 68.5227 94.8752 72.7065 92.748 76.3823C90.6208 80.058 87.5658 83.0929 83.8972 85.1746L59.5319 98.9783C56.0036 100.964 52.0334 102.004 47.9976 102Z" fill="#FABD43"/>
<path opacity="0.2" d="M47.9981 91C44.8881 91.0031 41.8288 90.1874 39.1098 88.6303L20.3254 77.8038C17.4983 76.1706 15.1442 73.7901 13.5051 70.9072C11.8661 68.0243 11.0014 64.7431 11 61.4012V40.5976C11.0014 37.2557 11.8661 33.9745 13.5051 31.0916C15.1442 28.2087 17.4983 25.8282 20.3254 24.195L39.1061 13.3685C41.8264 11.815 44.8849 11 47.9944 11C51.1039 11 54.1623 11.815 56.8826 13.3685L75.6717 24.195C78.4994 25.8278 80.8541 28.2082 82.4937 31.0911C84.1332 33.974 84.9983 37.2554 85 40.5976V61.4012C84.9982 64.7435 84.1329 68.0249 82.4932 70.9079C80.8535 73.7908 78.4986 76.1711 75.6708 77.8038L56.8892 88.6303C54.1694 90.1879 51.1091 91.0036 47.9981 91Z" fill="#FABD43"/>
<path d="M38.5851 70.718C35.1308 73.3546 29.086 71.2952 25.1523 66.1415C21.2185 60.9877 20.8262 54.6138 24.2806 51.9772C27.4208 49.5803 32.5745 50.9606 36.4428 55.052L67.9246 31.0225C68.8666 30.3034 70.3073 30.5631 70.8656 31.62C71.3046 32.5207 71.0152 33.6066 70.2301 34.2059L69.5236 34.7452L72.5037 38.6495C73.5169 39.977 73.2712 41.7711 71.9366 42.7898C70.6019 43.8085 68.8065 43.5724 67.7933 42.2449L67.1973 41.464L65.6271 42.6625L66.2231 43.4434C67.2364 44.7708 66.9906 46.565 65.656 47.5836C64.3214 48.6023 62.526 48.3662 61.5127 47.0387L58.5326 43.1344L38.8278 58.1747C41.7541 62.9852 41.7263 68.3204 38.586 70.7173L38.5851 70.718ZM32.785 56.6081C31.3546 54.734 28.7523 54.743 27.2607 55.8815C25.769 57.0201 25.074 59.5279 26.5045 61.4019C27.2793 62.4171 28.3464 62.8384 29.3916 62.9056C29.1808 63.9316 29.3654 65.1501 30.0806 66.0871C31.5111 67.9612 34.1134 67.9522 35.605 66.8137C37.0966 65.6751 37.7916 63.1674 36.3612 61.2933C35.5863 60.2782 34.5193 59.8568 33.474 59.7896C33.6848 58.7636 33.5003 57.5451 32.785 56.6081ZM63.0824 45.8406C63.44 46.3091 63.9925 46.3818 64.4635 46.0223C64.9346 45.6627 65.0102 45.1107 64.6526 44.6422L63.4605 43.0804C63.1029 42.6119 63.1785 42.0599 63.6496 41.7003L66.7898 39.3034C67.2609 38.9439 67.8133 39.0165 68.1709 39.485L69.363 41.0468C69.7206 41.5153 70.273 41.5879 70.7441 41.2284C71.2151 40.8689 71.2907 40.3168 70.9331 39.8483L67.953 35.944L60.1023 41.9363L63.0824 45.8406Z" fill="#FABD43"/>
</svg>
                <h1 class="h1-myeb">Mot de passe oublié ? </h1>
                <span class="small-myeb">Pas de soucis ! On s'occupe de ça</span>
                <!-- Créer deux champs de texte -->
                <div class="form-group mt-4">
                    <input type="text" class=" mb-3 input-myeb" placeholder="Nouveau mot de Passe">
                    <input type="text" class="input-myeb" placeholder="Répeter le mot de Passe">
                    <button class="  btn btn-myeb my-3">Restaurer le mot de passe</button>
                </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
